
.font12(@font12:12px){
  font-size:@font12;
}

.font14(@font14: 14px){
  font-size: @font14;
}

.font18(@font18: 18px){
  font-size: @font18;
}

.font24(@font24: 24px){
  font-size: @font24;
}

.line(@line){
  line-height:@line;
}
