@black: #000000;
@bg-blackblue: #1d2631;
@bg-grey: #f2f2f2;
@crimson: #d22856;
@darkblue: #283645;
@light: 300;
@white: #ffffff;

.font14(@font14: 14px){
  font-size: @font14;
}

.font18(@font18: 18px){
  font-size: @font18;
}

.font24(@font24: 24px){
  font-size: @font24;
}


.line(@line){
  line-height:@line;
}

