@arrow-hover:#7e868f;
@arrow-active:#e9ebec;
@black: #000000;
@bg-blackblue: #1d2631;
@button-grey:#bec2c7;
@menu-border:#485461;
@header-opacity:rgba(0,0,0,0.3);
@bg-grey: #f2f2f2;
@crimson: #d22856;
@crimson-active:rgba(210, 40, 86, 0.3);
@cucumber:#2aab6d;
@darkblue: #283645;
@desktop:960px;
@desktop-width:1200px;
@light: 300;
@tablet: 660px;
@tablet-1:659px;
@table-grey:#e5e5e5;
@white: #ffffff;



