.index {
    background-image: url("../img/iphone-hand-mobile@1x.png"),url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat,no-repeat;
    background-position: center 180px,center 0px;
    @media (min-resolution:@retina-dpi), (min-resolution:@retina-dppx) {
        background-image: url("../img/iphone-hand-mobile@2x.png"),url("../img/bg-back-mobile@2x.jpg");
        background-size:324px 284px, 700px 462px;
    }
    @media (min-width:@tablet) {
        background-image: url("../img/iphone-hand-tablet@1x.png"),url("../img/bg-back-tablet@1x.jpg");
        background-repeat: no-repeat,no-repeat;
        background-position: center 184px,center 0px;
        @media (min-resolution:@retina-dpi), (min-resolution:@retina-dppx) {
            background-image: url("../img/iphone-hand-tablet@2x.png"),url("../img/bg-back-tablet@2x.jpg");
            background-size:706px 550px, cover;
            background-position:center 184px, center 0;


        }
    }
    @media (min-width:@desktop) {
        background-image: url("../img/iphone-hand-desktop@1x.png"),url("../img/bg-back-desktop@1x.jpg");
        background-repeat: no-repeat,no-repeat;
        background-position: center 215px,center 6px;
        @media (min-resolution:@retina-dpi), (min-resolution:@retina-dppx) {
            background-image: url("../img/iphone-hand-desktop@2x.png"),url("../img/bg-back-desktop@2x.jpg");
            background-size:1124px, cover;
            background-position: center 217px, center 12px;
        }
    }
}
