.main-nav--open,
.main-nav--nojs{
  display:block;
}

.main-nav--closed{
  display:none;
}


.main-nav__list {
    display:flex;
    background-color: @darkblue;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    &-item {
        padding: 15px;
        border-top:1px solid @menu-border;
        border-bottom:1px solid @black;

    }
    &-link {
        .font18;
        .line (32px);
        color: @white;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }
    @media(min-width:@desktop) {
        background-color: transparent;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap:wrap;
        margin: 0 auto;
        max-width: 960px;
        padding-right: 0px;
        position: relative;
        top: -96px;
        &-item {
            padding: 32px 9px 32px 71px;
        }
        &-link {
            .line(18px);
            font-weight: normal;
            text-transform: none;
        }
    }
}

.main-nav__list-link:hover{
  color:@crimson;

}

.main-nav__list-link:active{
  color:@crimson-active;
}


.main-nav__list li:first-child{
  border-top:1px solid @black;
  box-shadow:inset 0 1px 0 0 @menu-border;

}


@media(min-width:@desktop){
.main-nav--closed{
  display:block;
}

.main-nav__list-item{
  border:0;
}

.main-nav__list li:first-child{
  border:0;
  box-shadow:none;
}
}
