

@media(max-width:@tablet-1) {
    .page-footer__index {
        display: none;
   }

.page-footer {
        margin: 0 auto;
        padding-top:47px;
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            margin: 0 auto;
            padding: 12px 20px 40px 20px;
            min-height:300px;

        }
        &__academy {

            .font14;
            .line(5px);
            margin-bottom: 45px;
            display:flex;
            align-items:center;
            position: relative;
            vertical-align: middle;
        }


    }

          .page-footer__photo{
          padding-top:20px;
        }


}
@media(min-width:@tablet) {
    .page-footer {
        margin: 0 auto;
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            padding: 12px 20px 40px 20px;
            width: @tablet;
        }
        &__academy {
            .font14;
            .line(5px);
            display:flex;
            align-items:center;
            margin-top: 18px;


        }
        &__academy--link {
            font-size: 0;
        }
    }

          .page-footer__photo{
          padding-top:20px;
        }

        .page-footer__logo-link img{
        display:block;
        width:147px;
        height:auto;
        margin-top:6px;
        margin-left:0;
        }
  }
    @media(min-width:@desktop) {
        .page-footer {
            &__container {
                padding: 51px 10px 40px 10px;
                width: @desktop;
            }
            &__academy {
                .font18;
            }
            &__academy--link::after {
                left: 115px;
            }
        }


        .page-footer__photo{
          padding-top:42px;
        }

        .page-footer__photo .social-buttons{
          padding-left:115px;
        }
    }


        .page-footer__academy--link{
          margin-left:14px;
          fill:@crimson;
        }

        .page-footer__academy--link:hover{
          fill:@darkblue;
        }

         .page-footer__academy--link:active{
          fill:@button-grey;
        }


