@media(max-width:@tablet-1) {
    .page-footer__index {
        display: none;
   }

.page-footer {
        margin: 0 auto;
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            margin: 0 auto;
            padding: 12px 20px 40px 20px;
            min-height:300px;

        }
        &__academy {
            .font14;
            .line(5px);
            margin-top: 27px;
            padding-right: 35px;
            padding-top: 10px;
            position: relative;
            vertical-align: middle;
        }
        &__academy--link {
            font-size: 0;
        }
        &__academy--link::after {
            background-image: url("../img/htmlacademy.svg");
            background-repeat: no-repeat;
            content: "";
            font-weight: normal;
            height: 43px;
            left: 90px;
            position: absolute;
            text-align: right;
            text-transform: uppercase;
            top: -10px;
            width: 40px;
        }
    }

          .page-footer__photo{
          padding-top:20px;
        }


}
@media(min-width:@tablet) {
    .page-footer {
        margin: 0 auto;
        &__container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0 auto;
            padding: 12px 20px 40px 20px;
            width: @tablet;
        }
        &__academy {
            .font14;
            .line(5px);
            margin-top: 27px;
            padding-right: 35px;
            padding-top: 10px;
            position: relative;
            vertical-align: middle;
        }
        &__academy--link {
            font-size: 0;
        }
        &__academy--link::after {
            background-image: url("../img/htmlacademy.svg");
            background-repeat: no-repeat;
            content: "";
            font-weight: normal;
            height: 43px;
            left: 90px;
            position: absolute;
            text-align: right;
            text-transform: uppercase;
            top: -10px;
            width: 40px;
        }
    }

          .page-footer__photo{
          padding-top:20px;
        }
  }
    @media(min-width:@desktop) {
        .page-footer {
            &__container {
                padding: 45px 130px 40px 130px;
                width: @desktop;
            }
            &__academy {
                .font18;
            }
            &__academy--link::after {
                left: 115px;
            }
        }


        .page-footer__photo{
          padding-top:42px;
        }

        .page-footer__photo .social-buttons{
          padding-left:115px;
        }
    }


