
.page-header{
  background-color:@bg-blackblue;
  margin:0;
  padding:0;

  &__logo-link{
    .font18;
    .line(18px);
    font-weight:bold;

    color: @white;

  }

}

.customer-pictures__title{
  .font24;
  .line (18px);
  color:@white;
  font-weight:@light;
  text-align:center;
  margin:0 auto;

}



