.picture-editor{
  text-align:center;
  margin:0 auto;

    &__tools{
        background-color:@bg-grey;

    }

    &__title{
      .font14;
      .line (30px);
      color:@darkblue;
      font-weight:normal;
      background-color:@white;
    }

    &__submit,
    &__cancel{
      .font18;
      .line(18px);
      color:@crimson;

    }

    &__cancel{
      color:fadeout(@darkblue, 90%);

    }

}
