.price-list {
    background-color: @bg-grey;
    padding-bottom: 140px;
    overflow: hidden;
    &__table {
        border-collapse: collapse;
        margin: 0 auto;
    }
    &__header, &__price {
        .font18;
        .line (30px);
        background-color: @darkblue;
        border: 3px solid @darkblue;
        color: @white;
        text-transform: uppercase;
    }
    &__header--greyborder, &__price--greyborder {
        border-left: 3px solid @table-grey;
        border-right: 3px solid @table-grey;
    }
    &__header--empty, &__price--empty {
        background-color: transparent;
        border-bottom: none;
        border-left: none;
        border-top: none;
        display: table-cell;
    }
    &__price {
        .font24;
        .line (24px);
        font-weight: @light;
    }
    &__features {
        .font14;
        .line (30px);
        background-color: @white;
        border: 3px solid @table-grey;
        color: @darkblue;
        min-width: 81vw;
        padding-bottom: 29px;
        padding-top: 30px;
        position: relative;
        text-align: left;
        text-transform: uppercase;
    }
    &__features::before {
        .font14;
        .line(30px);
        color: black;
        content: attr(data-header);
        font-weight: normal;
        height: 30px;
        left: 15px;
        position: absolute;
        text-align: left;
        text-transform: uppercase;
        top: 15px;
        width: 200px;
    }
    &__features--yes::after {
        .font14;
        .line(30px);
        background-image: url("../img/icon-yes.svg");
        background-repeat: no-repeat;
        color: rgba(255,255,255,0);
        content: "да";
        font-weight: normal;
        height: 33px;
        left: 82%;
        position: absolute;
        text-align: right;
        text-transform: uppercase;
        top: 12px;
        width: 33px;
    }
    &__features--no::after {
        .font14;
        .line(30px);
        background-image: url("../img/icon-no.svg");
        background-repeat: no-repeat;
        color: rgba(255,255,255,0);
        content: "нет";
        font-weight: normal;
        height: 33px;
        left: 82%;
        position: absolute;
        text-align: right;
        text-transform: uppercase;
        top: 12px;
        width: 33px;
        z-index: 20;
    }
}


@media(max-width:@tablet-1) {
    .price-list {
        padding-top: 70px;
        &__header--empty, &__price--empty, &__features--column1 {
            display: none;
        }
        &__header {
            .font18;
            padding-top: 12px;
        }
        &__price {
            .font24;
            padding-bottom: 20px;
        }

        &__table{
        transform:translate(-250px);
      }

    }
}
@media(min-width:@tablet) {
    .price-list {
        padding-bottom: 75px;
        padding-top: 40px;
        &__header {
            .font16;
            padding-top: 7px;
        }
        &__price {
            .font18;
            padding-bottom: 5px;
        }
        &__features {
            min-width: 155px;
            padding-bottom: 22px;
            padding-top: 22px;
        }
        &__features::before {
            display: none;
            left: 15px;
            top: 8px;
        }
        &__features--column1::before {
            display: block;
            text-transform: capitalize;
        }
        &__features::after {
            left: 65px;
        }


    }

    .price-list__slider-label{
      display:none;
    }


}
@media(min-width:@desktop) {
    .price-list {
        padding-top: 68px;
        &__features {
            min-width: 235px;
            padding-bottom: 30px;
            padding-top: 30px;
        }
        &__features::after {
            left: 100px;
            top: 18px;
        }
        &__features--column1::before {
            .font18;
            left: 23px;
            padding-top: 5px;
        }
        &__header {
            .font18;
            padding-top: 15px;
        }
        &__price {
            .font24;
            padding-bottom: 20px;
        }
    }
}


.price-list__container{
    width: auto;
    min-width: 300px;
    margin: 0 auto;
    position:relative;
}


.price-list__slider
{
    position: relative;
}

.price-list__slider-button,
.price-list__slider-button--checked
{
display:none;
}

.price-list__slider-label label
{
    display: inline-block;

    width: 7px;
    height: 7px;
    margin: 0 5px;

    cursor: pointer;
    vertical-align: top;

    border: 4px solid @button-grey;
    border-radius: 50%;


}

.price-list__slider-label
{
    position: absolute;
    z-index: 10;
    margin:0 auto;
    right: 40%;
    bottom: -50px;
}

#btn-4:checked ~ .price-list__slider-label label[for="btn-4"],
#btn-5:checked ~ .price-list__slider-label label[for="btn-5"],
#btn-6:checked ~ .price-list__slider-label label[for="btn-6"]
{
  position:relative;
  width:12px;
  height:12px;
background-color: #FFFFFF;
    top: -2px;
    left: 1px;
    border: 3px solid #1d2631;
}


#btn-4:checked ~ .price-list__table
{
  transform:translate(6vw);
  transition: .3s;
}

#btn-5:checked ~ .price-list__table
{
  transform:translate(-74vw);
  transition: .3s;
}

#btn-6:checked ~ .price-list__table
{
  transform:translate(-156vw);
  transition: .3s;
}

@media(min-width:@tablet){
#btn-4:checked ~ .price-list__table
{
  transform:translate(0vw);
  transition: .3s;
}

#btn-5:checked ~ .price-list__table
{
  transform:translate(0vw);
  transition: .3s;
}

#btn-6:checked ~ .price-list__table
{
  transform:translate(0vw);
  transition: .3s;
}

  }
