.submit-form {
    text-align: center;
    &__header {
        .font14;
        .line(30px);
        background-color: @white;
    }
    &__label--text, &__title, &__feedback {
        .font14;
        .line(30px);
        color: @crimson;
        text-transform: uppercase;
        input[placeholder], textarea[placeholder] {
            .font18;
            .line(30px);
            font-family: 'Open Sans','Arial',sans-serif;
        }
        input::placeholder, textarea::-webkit-input-placeholder {
            color: @darkblue;
        }
    }
    &__achievments, &__platform {
        background-color: @bg-grey;
    }
    &__title {
        .font14;
        .line(18px);
        color: @crimson;
        text-transform: uppercase;
    }
    &__label--select {
        .font18;
        .line(30px);
        color: @darkblue;
    }
    &__asterix {
        .font14;
        .line(30px);
        color: @darkblue;
        text-transform: uppercase;
        sup {
            color: @crimson;
        }
    }
}
